# Ignore everything
*

# Allow .gitignore and .py files
!.gitignore
!*.py
!requirements.txt

# Allow subdirectories to be traversed
!*/

# Ignore these directories entirely
.venv/
__pycache__/
weights/
output/
uploads/
.vscode/
